<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="adobe" translate="label" sortOrder="5">
            <label>Adobe</label>
        </tab>
        <section id="emi" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Emi</label>
            <tab>adobe</tab>
            <resource>Kishan_AssignmentEmi::emi_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>EMI Configuration</label>
                <field id="config_table" translate="label" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Emi Table</label>
                    <frontend_model>Kishan\AssignmentEmi\Block\Adminhtml\Form\ConfigTable</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>

