<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Kishan\Assignment6\Api\FormRepositoryInterface" type="Kishan\Assignment6\Model\FormRepositoryModel" />
    <preference for="Kishan\Assignment6\Api\AddressRepositoryInterface" type="Kishan\Assignment6\Model\AddressRepositoryModel" />
    <preference for="Kishan\Assignment6\Api\Data\FormInterface" type="Kishan\Assignment6\Model\Form" />
    <preference for="Kishan\Assignment6\Api\Data\AddressInterface" type="Kishan\Assignment6\Model\Address" />
    <type name="Kishan\Assignment6\Api\FormRepositoryInterface">
        <plugin name="extension_attribute"
                type="Kishan\Assignment6\Plugin\FormRepositoryInterface" sortOrder="1"/>
    </type>
    <type name="Kishan\Assignment6\Api\AddressRepositoryInterface">
        <plugin name="address_repository_interface"
                type="Kishan\Assignment6\Plugin\AddressRepositoryInterface" sortOrder="1"/>
    </type>
</config>
